.left-side-nav {
    background-color:azure;
    width: 300px;
    height: 250px;
    margin-right: 2%;
}

.h1 {
    width: 90%;
    margin: 5% 5%;
    text-align: center;
    background-color: rgba(137,46,193,1);
    color: azure;
}

.left-side-nav ul {
    list-style: none;
    padding-left: 15%;
    padding-top: 5%;
    line-height: 35px;
    font-size: larger;
    font-weight: bolder;
}

.left-side-nav a {
    text-decoration: none;
    color: rgba(137,46,193,1);
}

.right-side-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: azure;
    width: 70%;
    background: linear-gradient(90deg, rgba(10,207,204,1)  , rgba(137,46,193,1) );
}

.right-side-box{
    width: 900px;
    height: 250px;
}

.welcome {
    text-align: center;
    font-size: 30px;
}